Использовались:
    - csv: для записи данных в csv файл
    - datetime: для преобразование дат публикаций в формат date
    - requests: для краулинга сайта
    - beautifulsoup4: для парсинга сайта
    - fake_useragent: для изменения заголовков запросов html