Использовались:
  встроенные библиотеки Python:
    - csv: для записи данных в csv файл
    - datetime: для преобразование дат публикаций в формат date
  
  сторонние библиотеки Python:
    - selenium: для краулинга сайта
    - beautifulSoap4: для парсинга сайта
  
  для работы selenium:
    - chromedriver, скачать можно по ссылки https://chromedriver.chromium.org/downloads.
    для использования firefox или opera, необходимо поменять в коде "Chrome" на соотвествующий браузер.

